.content-execution{
	position: relative;
	width: 50%;
	float: right;	
	box-sizing: border-box;
}
.content-execution .content-body{
	margin-top: 20px;
}
.content-execution .js-clickable-content-area{
	position: relative;
	background: white;
	height: 200px;
	text-align: center;
	display: none;
}
.content-execution .js-clickable-content-area.active{
	display: block;
}
.content-execution .js-basic-interaction, .content-execution .js-finite-interaction, .content-execution .js-started-interaction, .content-execution .js-mixing-interaction, .content-execution .js-target-interaction, .content-execution .js-globals-interaction, .content-execution .js-toggle-interaction, .content-execution .js-mixed-interaction{
	height: 270px;
	position: relative;
	margin-bottom: 20px;
}
.content-execution .js-indicator-interaction, .content-execution .js-context-interaction{
	height: 325px;
	position: relative;
	margin-bottom: 20px;
}
.content-execution .js-clickable-next{
	float: right;
	margin-right: -2px;	
}
.content-execution .js-clickable-prev, .content-execution .js-clickable-target{
	float: left;
	margin-left: -2px;
}
.content-execution .js-clickable-indicator{
	float: left;
	margin-left: -2px;	
	background: rgba(245,245,245,1);
}
.content-execution .js-clickable-prev, .content-execution .js-clickable-next, .content-execution .js-clickable-target{
	cursor: pointer;

}
.content-execution .js-clickable-prev, .content-execution .js-clickable-next, .content-execution .js-clickable-target, .content-execution .js-clickable-indicator{
	border: 1px solid rgba(220, 220, 220, 1);
	background: rgba(245, 245, 245, 1);
	width: 100%;
	padding-bottom: 25px;
	padding-top: 25px;
	max-width: 40%;
	padding-left: 5%;
	padding-right: 5%;
	text-align: center;
	position: relative;
}
.content-execution .js-clickable-prev.split, .content-execution .js-clickable-next.split, .content-execution .js-clickable-target.split{
	max-width: 15%;

}
.content-execution .content-area-container{
 	width: 100%;
 	height: 210px;
 	clear: both;
}
.content-execution .js-clickable-content-area.split{
	width: 50%;
	box-sizing: border-box;
	max-width: 50%;
	border: 1px solid rgba(220, 220, 220, 1);
	float: left;
}

.content-execution .js-toggle-interaction .js-clickable-target{
	position: absolute;
	bottom: 0;
}
.content-execution .js-toggle-interaction .js-clickable-target:nth-child(4){
	right: 0;
}
.content-execution .js-toggle-interaction .js-clickable-target:nth-child(3){
	left: 0;
}
.content-execution .js-clickable-indicator.active{
	background: rgba(255,255,255,1);
}
.content-execution .js-clickable-indicator.visited{
	background: rgba(235,235,235,1);
}
.content-execution .js-clickable-clear{
	padding: 15px;
	background: rgba(220,220,220,1);
	text-align: center;
	margin: auto;
	cursor: pointer;
	max-width: 100px;
	margin-top: 20px;
	
}
.content-execution .js-clickable-start{
	height: 270px;
	position: absolute;
	width: 100%;
	z-index: 2;
	text-align: center;
	background: white;
	display: block;
}
.content-execution .navigated .js-clickable-start{
	display: none;
}